/*
  Collection Layout
*/
.collection-headcolumn {
	margin-bottom: 20px;
	margin-top: 0;
}

.collection-buttonrow {
	margin-bottom: 10px;
	margin-top: 10px;
}

.collection {
	list-style: none;
	padding-left: 0;
}

.collection > li {
	display: block;
	list-style: none;
	padding: 1em 1em 1em;
	position: relative;
	width: 100%;
}

.collection > li > .selection {
	display: block;
	height: 32px;
	left: -30px;
	padding-top: 2px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 32px;
}

.collectionitem-metricwrapper {
	display: block;
	left: -30px;
	position: absolute;
	text-align: center;
	top: 32px;
	width: 30px;
}

.collectionitem-metric {
	position: absolute;
	right: 0;
	top: 0;
}

.collectionitem-title {
	/* adjust first and last elements margin */
	margin-top: 0;
}

.collectionitem-disciplines,
.collectionitem-keywords {
	margin-bottom: 5px;
}

.collectionitem-actionbar:last-child {
	/* adjust first and last elements margin */
	margin-bottom: 0;
	margin-top: 10px;
}




/*
  Collection Design
*/
.collection {
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.collection > li {
	border-top: 1px solid #ddd;
	border-left: 26px solid #ddd;
	border-right: 0.3em solid #ddd;
}

.collection > li:nth-child(2n+1) {
	background-color: #f9f9f9;
}

.collection > li:first-child {
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.collection > li:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.collection > li.incollection {
	background-color: #fffce6;
	border-left-color: #FBD05C;
	border-right-color: #FBD05C;
}

.collection > li > .selection,
.collection > li > .selection > input {
	cursor: pointer;
}

.collectionitem-metric {
	background-color: #777;
	border-radius: 4px 0 0 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	color: #fff;
	min-width: 34px;
	padding: 0.2em 0.4em;
}

.collectionitem-metric > .metricvalue {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1em;
}

.collectionitem-metric > .metricname {
	font-size: 0.75em;
}

.collectionitem-tagging {
	margin-bottom: 10px;
}

.collectionitem-tagging > dt {
	font-weight: normal;
	font-size: 85%; /*as used by bootstrap for <small> */
	margin-top: 0.5em;
}

.collectionitem-abstract {
	padding-top: 5px;
}

#collection-minitagcloud > span {
	cursor: help;
	line-height: 1.1em;
	margin: 0 0.2em;
	white-space: nowrap;
}

#collection-pubnet {
	border: 1px solid #CCC;
	margin: 0 auto;
	width: 850px;
}

.collectionpubnet-timecontrols {
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
}

#collection-commnet {
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 0 3px #bebebe inset;
    overflow: hidden;
	position: relative;
}

.communitynetwork-controls {
	height: 60px;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 94px;
}
.communitynetwork-controls > .ctrl-top,
.communitynetwork-controls > .ctrl-bottom,
.communitynetwork-controls > .ctrl-left,
.communitynetwork-controls > .ctrl-right,
.communitynetwork-controls > .ctrl-zoomin,
.communitynetwork-controls > .ctrl-zoomout {
	display: block;
	height: 28px;
	position: absolute;
	width: 30px;
}
.communitynetwork-controls > .ctrl-top {
	top: 0;
	left: 32px;
}
.communitynetwork-controls > .ctrl-bottom {
	top: 60px;
	left: 32px;
}
.communitynetwork-controls > .ctrl-left {
	top: 30px;
	left: 0;
}
.communitynetwork-controls > .ctrl-right {
	top: 30px;
	left: 64px;
}
.communitynetwork-controls > .ctrl-reset {
	display: block;
	height: 22px;
	left: 35px;
	position: absolute;
	top: 34px;
	width: 24px;
}
.communitynetwork-controls > .ctrl-zoomin {
	top: 96px;
	left: 14px;
}
.communitynetwork-controls > .ctrl-zoomout {
	top: 96px;
	left: 50px;
}
